@font-face { font-family: JetbrainsMono; src: url('fonts/JetBrainsMono-Medium.ttf'); }

:root {
    --toolbar-height: 75px;
    --footer-height:30px;
    --alt-color:rgb(231, 124, 1);
    --toolbar-color:var(--alt-color);
}

header {
    padding: 0 10% 0 10%;
}

body {
    font-family: JetbrainsMono;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    margin: 0 0 0 0;
    
    padding-top: var(--toolbar-height);

    display:flex;
    flex-direction: column;
    min-height: calc(100vh - var(--toolbar-height));

    /* overflow:hidden; */
}

#big-logo {
    width:50%;
    max-width: 400px;
    max-height:25%;
    padding: 20px 0 0 0;
}

.circle, .circle-alt {
    width: 200px;  /*Set the width*/
    max-width: 30%;
    aspect-ratio: 1/1;
    background-color: #1c1c1c; /* Set the color */
    border-radius: 50%; /* Makes it a perfect circle */
    flex-shrink: 0;
}

.circle-alt {
    background-color: var(--alt-color);
}

.info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-grow: 1;
}

section {
    padding: 1% 1%;
    display: flex;
    color:white;
    align-items:center;
    gap: 10px;

    flex-direction:row;
    align-items: flex-sta;
    justify-content: flex-start;

}

.section {
    background-color: inherit;
}

.section-alt {
    background-color: var(--alt-color);
}

#toolbar {
    background-color: var(--toolbar-color);

    /* -webkit-backdrop-filter: blur(3rem); */
    /* backdrop-filter:blur(3rem); */
    position:fixed;
    width: 100%;
    top:0;

    height: var(--toolbar-height);

    display: flex;
    justify-content: left;
    align-items: center;
}

#toolbar ul {
    height: var(--toolbar-height);

    padding:0;
    margin:0;
    display: flex;
    flex:1;

    align-items: center;

    width: 100%;
    position:sticky;
    top:0;
}

#toolbar ul li {
    /* border: 1px solid red; */

    flex-basis: auto;
    height: var(--toolbar-height);
    
    flex:0;
    display: flex;
    color:white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;

    white-space: nowrap;

    align-items: center;
}

#toolbar ul li:hover {
    background-color: rgb(207, 111, 0);
    /* color:white; */
}

#logo {
    height: calc(var(--toolbar-height) * 0.9);
    color: white;
    padding: 0% 1em;


    vertical-align: middle
}

#toolbar ul li a {
    all:unset;
}

#toolbar ul li button {
    all:unset;
    background: none;
    border: none;

    height:var(--toolbar-height);
    align-items: center;
    padding:0% 1em;
    margin: 0;
}

.content {
    flex:1;
}

section p {
    font-size: 20px;
    text-align:justify;
    line-height: 1.5;
    margin: 0 10px 0 10px;
}

section h5 {
    font-size: 24px;
    /* color:hsl(32, 100%, 50%); */
    text-align: center;
    margin: 10px;
}



footer {
    background-color: var(--alt-color);
    padding: 5px;

    /* width: 100%; */
    height: var(--footer-height);

    display:flex;
    justify-content: center;
    align-items: center;
}

