body {
    font-family: Helvetica, sans-serif;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    margin: 0;
}

header {
    background-color: hsl(32, 100%, 50%);
    padding-top: 1px;
    padding-bottom: 1px;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 5px 0 5px;
}

header ul li a{
    all:unset;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    cursor:pointer;
}

header ul li button {
    all:unset;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

nav p {
    padding: 0 50px 0 50px;
    font-size: 20px;
    text-align:center;
}

section {
    padding: 40px;
}

footer {
    background-color: #ff8800;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}