@font-face { font-family: JetbrainsMono; src: url('fonts/JetBrainsMono-Medium.ttf'); }

:root {
    --toolbar-height: 75px;
    --footer-height:30px;
    --alt-color:rgb(231, 124, 1);
    --toolbar-color:var(--alt-color);
}

header {
    padding: 0 10% 0 10%;
}

body {
    font-family: JetbrainsMono;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    margin: 0 0 0 0;
    
    padding-top: var(--toolbar-height);

    display:flex;
    flex-direction: column;
    min-height: calc(100vh - var(--toolbar-height));

    /* overflow:hidden; */
}

#big-logo {
    width:50%;
    max-width: 400px;
    max-height:25%;
    padding: 20px 0 0 0;
}

.photo, .circle, .circle-alt {
    border-radius: 50%; /* Makes it a perfect circle */
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.circle, .circle-alt {
    width: 150px;  /*Set the width*/
    max-width: 30%;
}

.circle {
    background-color: #1c1c1c; /* Set the color */
}

.circle-alt {
    background-color: var(--alt-color);
}

.photo {
    width: 100%;
    min-width: none;
    background-color: #1c1c1c;
    margin: 0 auto 15px auto;
    flex:1;
}

.info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-grow: 1;
}

section {
    padding: 5% 5%;
    display: flex;
    color:white;
    align-items:center;
    gap: 10px;

    flex-direction:row;
    align-items: flex-sta;
    justify-content: flex-start;

}

.section {
    background-color: inherit;
}

.section-alt {
    background-color: var(--alt-color);
}

#toolbar {
    background-color: var(--toolbar-color);

    /* -webkit-backdrop-filter: blur(3rem); */
    /* backdrop-filter:blur(3rem); */
    position:fixed;
    width: 100%;
    top:0;

    height: var(--toolbar-height);

    border-bottom: 3px solid white;

    display: flex;
    justify-content: left;
    align-items: center;
}

#toolbar ul {
    height: var(--toolbar-height);

    padding:0;
    margin:0;
    display: flex;
    flex:1;

    align-items: center;

    width: 100%;
    position:sticky;
    top:0;
}

#toolbar ul li {
    /* border: 1px solid red; */

    flex-basis: auto;
    height: var(--toolbar-height);
    
    flex:0;
    display: flex;
    color:white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;

    white-space: nowrap;

    align-items: center;
}

#toolbar ul li:hover {
    background-color: rgb(207, 111, 0);
    /* color:white; */
}

#logo {
    height: calc(var(--toolbar-height) * 0.9);
    color: white;
    padding: 0% 1em;


    vertical-align: middle
}

#toolbar ul li a {
    all:unset;
}

#toolbar ul li button {
    all:unset;
    background: none;
    border: none;

    height:var(--toolbar-height);
    align-items: center;
    padding:0% 1em;
    margin: 0;
}

.content {
    flex:1;
}

section p {
    font-size: 20px;
    text-align:left;
    line-height: 1.5;
    margin: 0 20px 0 20px;
}

section h5 {
    font-size: 24px;
    /* color:hsl(32, 100%, 50%); */
    text-align: center;
    margin: 10px;
}

#members {
    display:flex;

    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    /* grid-auto-flow: row; */
    justify-content:center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;

    flex-wrap: wrap;
    width: 100%;
}

.member {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* min-width: 1%; */
    max-width:90%;

    flex:0 1 200px;
    background-color: rgb(185, 99, 1);

    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;

    box-shadow: 0px 0px 10px -1px #7e4300;

}

.name {
    text-align: center;
    align-content: flex-end;

    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 5px;

    font-size: 16px;
    flex-wrap: nowrap;
}

.roles {
    text-align: center;
    color:lightgray;
    font-size: 14px;
    height:90px;

    /* white-space: nowrap; */
}

footer {
    background-color: var(--alt-color);
    padding: 5px;

    /* width: 100%; */
    height: var(--footer-height);

    display:flex;
    justify-content: center;
    align-items: center;
}

