:root {
    --toolbar-height: 75px;
    --footer-height:2rem;
    --standard-color:#ff881e;
    /* --alt-color:#1c1c1c; */
    --alt-color:#17171d;
    --standard-section-color:#1c1c24;
    --button-hover:hsl(240, 10%, 6%);

    --dark-color:#141414;
    --footer-color:#111116;

    --card-color: #8d4d04;

    --toolbar-color:var(--alt-color);
}

@font-face { font-family: JetbrainsMono; src: url('/fonts/JetBrainsMono-Medium.ttf'); }
