#toolbar {
    /* self-sizing */
    height: var(--toolbar-height);
    width: 100%;
    top:0;
    position:fixed;
    z-index: 5;

    /* child-sizing */
    display: flex;
    align-items: center;
    justify-content: left;
    
    /* color */
    background-color: var(--toolbar-color);
    
    /* styling */
    border-bottom: 3px solid var(--standard-color);
}

#toolbar nav {
    /* self-sizing */
    flex:1;
    width: 100%;
    padding:0;
    z-index: auto;

    /* child-sizing */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#toolbar ul {
    /* self-sizing */
    flex:0 1 auto;
    height: var(--toolbar-height);
    padding:0;
    margin:0;

    /* child-sizing */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}
 
#toolbar ul li {


    /* self-sizing */
    /* min-width: 130px; */
    flex:1 0 100px;
    height: var(--toolbar-height);
    box-sizing: border-box;

    /* child-sizing */
    display: flex;
    align-items: center;

    /* font */
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    
    /* color */
    color:var(--standard-color);

    /* styling */
    white-space: nowrap;
    user-select: none;
}

#toolbar ul li #logo {
    /* self-sizing */
    height: calc(var(--toolbar-height) * 0.7);
    width: auto;
    object-fit: contain;
    padding: 0;
    vertical-align: middle; /* this is its own inline item thing */ 
}
                
#toolbar ul li a {
    all:unset;
    flex:1;
    display: flex;
    flex-direction: row;
}

#toolbar ul li button {
    all:unset;

    /* styling */
    background: none;
    border: none;
    display:block;

    /* self-sizing */
    height:var(--toolbar-height);
    padding:0% 1em;
    margin: 0;
    flex:1;

    transition: background-color 0.2s ease-out;
}

#toolbar button:hover {
    /* color */
    background-color: var(--button-hover);
}   

/* ------------------------------------------- dropdowns ------------------------------------------- */

.dropdown {
    width: auto;
    height: var(--toolbar-height);
    aspect-ratio: 1/1;
    position: relative;
    padding:0;
    margin: 0;
    z-index: auto;
    
    /* font */
    font-size:1.2rem;
    
    /* child-sizing */
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    user-select: none;
}

.dropdown-btn {
    all:unset;
    
    /* font */
    font-size: 1.2rem;
    color:var(--standard-color);
    
    /* self-sizing */
    flex:1;
    min-width: 100%;
    min-height: 100%;
    padding:0;
    margin:0;

    /* styling */
    touch-action: manipulation;
    cursor:pointer;
    user-select: none;
}

.dropdown-content {
    /* self-sizing */
    flex:1;
    flex-direction: column;
    position: fixed;
    top: calc(var(--toolbar-height));
    right:0;
    
    /* child-sizing */
    display: flex;
    justify-content: center;
    
    /* font */
    font-size: 1.2rem;

    
    /* styling */
    user-select: none;
    -webkit-user-select: none;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    border-left: 3px solid var(--standard-color);
    border-bottom: 3px solid var(--standard-color);

    /* color */
    background-color: var(--toolbar-color);

    /* animation */
    transition: transform 0.3s ease, opacity 0.2s ease;

    transform: translate(0, -100px);
}

.dropdown-content.open {
    opacity: 1;
    pointer-events: all;
    transform: translate(0,0);
}

.dropdown-content a {
    all:unset;

    /* font */
    text-align: right;

    /* self-sizing */
    height:fit-content;
    padding:0;
    margin:0;
    
    /* styling */
    white-space: nowrap;
    
    /* child-sizing */
    display:flex;
}

.dropdown-content a button {
    all:unset;

    /* font */
    color:var(--standard-color);

    /* self-sizing */
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* styling */
    cursor: pointer;
    border-top: 3px solid var(--standard-color);
}


.dropdown-content button:hover {
    /* color */
    background-color: rgb(0, 0, 0);
}   

.bar1, .bar2, .bar3 {
    width: 35px;

    flex:1;
    height: 3px;
    background-color: var(--standard-color);
    margin: 8px auto;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

    pointer-events: none;
}

.open .bar1 {
    transform: translate(0,11px) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: translate(0,-11px) rotate(45deg);

}
