---
import Base from "../layouts/base.astro";
import ftc_g from "../assets/images/FTC_G.jpg";
import ftc_m from "../assets/images/FTC_M.jpg";
import ftc_e from "../assets/images/FTC_E.jpg";
import ftc_z from "../assets/images/FTC_Z.jpg";
import { Image } from "astro:assets";
---

<Base index="true" title="About" desc="About Bitflip Robotics">
    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/about/" />
    </Fragment>
    <header>
        <div id="about-header" class="header-content">
            <h1>About Us</h1>
        </div>
    </header>

    <section class="section-alt">
        <div class="section-content">
            <p>
                We are Bitflip, a second-year high school robotics team based in
                Charleston, South Carolina. Our team is comprised of only one
                person currently, but we hope to add more members soon. If
                you're interested in being on a FIRST Tech Challenge team,
                please click the "Apply" button above and fill out the attached
                form. You can also visit <a
                    href="https://www.instagram.com/bitflip_ftc"
                    target="_blank">our Instagram</a
                > to learn more.

                <br /><br />Last year, during the DECODE&trade; season, our team
                competed at three official events:<br /><br />
            </p>
            <div id="awards">
                <ul>
                    <li>
                        <div class="competition">
                            <span
                                ><a
                                    href="https://ftc-events.firstinspires.org/2025/USSCCHQ/"
                                    target="_blank">Lowcountry Qualifiers</a
                                ></span
                            >
                            <span class="date">February 7, 2026</span>
                        </div>
                        <ul>
                            <li>1st Place Inspire Award</li>
                            <li>Winning Alliance Captain</li>
                            <li>1st Place after Qualification Matches</li>
                            <li>
                                Advanced to South Carolina State Championship
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="competition">
                            <span
                                ><a
                                    href="https://ftc-events.firstinspires.org/2025/USSCCMP"
                                    target="_blank"
                                    >South Carolina State Championship</a
                                >
                            </span>
                            <span>February 28, 2026</span>
                        </div>
                        <ul>
                            <li>1st Place Think Award</li>
                            <li>Finalist Alliance 1st Pick</li>
                            <li>12th Place after Qualification Matches</li>
                            <li>Advanced to FIRST Championship</li>
                        </ul>
                    </li>
                    <li>
                        <div class="competition">
                            <span
                                ><a
                                    href="https://ftc-events.firstinspires.org/2025/FTCCMP1LOVE/"
                                    target="_blank"
                                    >FIRST Championship, Lovelace Division</a
                                >
                            </span>
                            <span>April 29–May 2, 2026</span>
                        </div>
                        <ul>
                            <li>46th Place after Qualification Matches</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p>
                Furthermore, we created an FLL team, Bitflip Jr (70971), who we
                mentored as a part of our outreach efforts. We also volunteered
                at two of their competitions.
            </p>
        </div>
    </section>
    <!-- <section class="section-alt">
        <div class="bios">
            <h1>Current Members</h1>
            <div id="Elijah" class="bio">
                <div class="photo"><Image src={ftc_e} alt='' /></div>
                <div class="bio-content">
                    <h3>Elijah</h3>
                    <p>
                        Hi, I'm Elijah. This is my eighth year of robotics. I'm seventeen, and I am studying to be a mechanical engineer. I am a 4th-year FTC student. My favorite part of robotics is building and designing robots. When I’m not doing robotics, I love playing with my cats. 
                    </p>
                </div>
            </div>
            <div id="Micah" class="bio">
                <div class="photo"><Image src={ftc_m} alt='' /></div>
                <div class="bio-content">
                    <h3>Micah</h3>
                    <p>
                        Hi, I am Micah, a fifteen-year-old eight-year robotics student who is passionate about CAD design and engineering. I hope to go to university and study to be an architect using the skills I have acquired through the FTC program. In my free time, I love woodworking in creative, unique, and original ways.
                    </p>
                </div>
            </div>
            <div id="Griffin" class="bio">
                <div class="photo"><Image src={ftc_g} alt='' /></div>
                <div class="bio-content">
                    <h3>Griffin</h3>
                    <p>
                        Greetings and salutations! My name is Griffin, and I’m fifteen years old. I have done robotics for one year. My favorite part about robotics is programming. When I graduate, I want to pursue a career in engineering. Last year, I assembled my own computer from parts that I purchased.
                    </p>
                </div>
            </div>
            <div id="Zoe" class="bio">
                <div class="photo"><Image src={ftc_z} alt='' /></div>
                <div class="bio-content">
                    <h3>Zoë</h3>
                    <p>
                        My name is Zoë, I am seventeen years old, and this is my first year doing robotics. I want to pursue a career in writing after I graduate. My favorite part about robotics is being part of a team and documenting the team’s work. In my free time, I write novels and take care of my cats. 

                    </p>
                </div>
            </div>
        </div>
    </section> -->
</Base>
