---
import Base from "../layouts/base.astro";
---
<Base
    index="false"
    title="Contact Us"
>
    <header>
            <div class="header-content">
                <h1>Contact Us</h1>
            </div>
        </header>

        <section class="section-alt">
            <div class="section-content">
                <p>
                    Phone number: (123)-456-7890
                    <br>
                    Email: bitflipftc@gmail.com
                    <br>
                    Carrier pigeon: Speak to the man in the corner
                    <br>
                    Quantum tunneling: +445.8282, -221.9921, +65.1170
                </p>
            </div>
        </section>
</Base>