---
import Base from "../layouts/base.astro";
---
<Base
    index="true"
    title="Contact Us"
    desc="Contact page for Bitflip Robotics"
>

    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/contact/">
    </Fragment>
    
    <header>
            <div class="header-content">
                <h1>Contact Us</h1>
            </div>
        </header>

        <section class="section-alt">
            <div class="section-content">
                <p>
                    Email: bitflipftc@gmail.com
                    <br>
                    Carrier pigeon: Speak to the man in the corner
                    <br>
                    Quantum tunneling: +445.8282, -221.9921, +65.1170
                </p>
            </div>
        </section>
</Base>