---
import Base from '../layouts/base.astro';
---

<Base 
    index="true"
    title="FLL"
    desc="This is our FLL team that we're sponsoring!"
>
    <header>
        <div class="header-content">
            <h1>Bitflip Jr.</h1>
            <aside style="font-size:15px; color:lightgrey">They are small.</aside>
        </div>
    </header>
</Base>