---
import Base from '../layouts/base.astro';
---

<Base 
    index="true"
    title="FLL"
    desc="This is our FLL team that we're sponsoring!"
>
    <header>
        <div class="header-content">
            <h1>Bitflip Jr.</h1>
        </div>
    </header>

    <section class="section-alt">
        <div class="circle"></div>
        <div class="section-content">
            <h2>FLL Information</h2>
            <p>
                FIRST LEGO League (FLL) is a global robotics program that introduces students aged 4-16 to STEM through hands-on, team-based challenges using LEGO robotics kits. 
                Participants learn how to design, build, and program robots to complete themed missions, while also developing critical skills such as problem-solving, teamwork, creativity, and communication. 
            </p>
        </div>
    </section>
</Base>