---
import Base from "../layouts/base.astro";
import { Image } from 'astro:assets';
import ftcLogo from "../assets/images/FIRSTTech_iconHorz_CMYK.svg";
---

<Base 
    index="false"
    title="Outreach"
    desc="Outreach of Bitflip Robotics"
>
    <header class="full-height-header">
        <Image alt="" src={ftcLogo} class="header-image" style="box-sizing:border-box; padding: 0 25px;">
        <p>hi</p>
    </header>

    <section class="section-alt">
        <div class="section-content">
            <p>
                
            </p>
        </div>
        </section>
</Base>