---
import Base from "../layouts/base.astro";
---

<Base 
    index="false"
    title="Rickroll"
>

    <Fragment slot="head">
        <style>
            button {
                cursor:pointer; 
                border:1px solid white; 
                border-radius:10px; 
                background-color:inherit; 
                font-family:'Courier New', Courier, monospace;
                backdrop-filter: brightness(100%);
                color:white;
                width:500px;
                height:300px;
                font-size:50px;
            }

            button:hover {
                backdrop-filter:brightness(90%);
            }

            button:active {
                backdrop-filter: brightness(80%)
            }

            iframe {
                height:calc(100vh - (var(--toolbar-height) + 2px)) ;
                width:100%;
                position: absolute;
                top:(var(--toolbar-height) + 2px);
                left:0;
                opacity: 0;
                pointer-events: none;
                z-index: 1;

                transition: opacity 1s linear;
            }

        </style>
    </Fragment>

    <header class="full-height-header" style="display:flex;flex-direction:column;justify-content: center; position:relative;align-items: center;">
        <button id="rrbutton">click me</button> 
    </header>

    <iframe id='frame' src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=TiiIZf4v4Wl7_7Yp&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <script>
        const button = document.getElementById('rrbutton');
        const iframe = document.getElementById('frame');

        button.addEventListener("click", function(event) {
            iframe.style.opacity = '1';
            iframe.style.pointerEvents = 'all';
        });
            
    </script>
</Base>