---
import Base from "../layouts/base.astro";
import { Image } from 'astro:assets';
import headerImg from "../assets/images/event-experience.jpg";
---

<Base 
    index="false"
    title="Outreach"
    desc="Learn more about our robot!"
>
    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/robot/">

        <style>
            .model {
                min-height:500px;
                min-width: 70%;
            }

            model-viewer {
                height:100%;
                min-height: 500px;
                width: 100%;
            }
        </style>
    </Fragment>

    <div class="header-image-container">
        <Image alt="" src={headerImg} class="header-image">
    </div>
    
    <header class="full-height-header">
        <div class="header-content">
            <h1 class="header-title">
                Robot
            </h1>
        </div>
    </header>

    <section class="section-alt">
        <div class="model">
            <model-viewer src="https://raw.githubusercontent.com/BitflipFTC/website/refs/tags/file/robot_model-opt.glb" camera-controls="true" camera-orbit="320deg 80deg 25m" loading="auto" powerpreference="low-power" exposure="0.40" shadow-softness="0.1" disable-tap="true" disable-pan="false" tone-mapping="neutral" shadow-intensity="4" alt="Model Loading Failed" ar-status="not-presenting">
            </model-viewer>
        </div>
    </section>

    <Fragment slot="scripts">
        <script src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>
    </Fragment>
</Base>