---
import Base from "../layouts/base.astro";
import { Image } from 'astro:assets';
import headerImg from "../assets/images/event-experience.jpg";
---

<Base 
    index="false"
    title="Robot"
    desc="Learn more about our robot!"
>
    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/robot/">

        <style>
            .model {
                min-height:100px;
                min-width: 80%;
                max-height:80vh;
                aspect-ratio: 16/9;
            }

            model-viewer {
                height:100%;
                /* min-height: 500px; */
                width: 100%;
                border-radius: 10px;
                border:2px solid white;
            }

            @media only screen and (orientation: portrait){
                model-viewer {
                    padding: 0;
                    margin: 0;
                }
            }
        </style>
    </Fragment>

    <header>
        <div class="header-content">
            <h1 class="header-title">
                Robot
            </h1>
        </div>
    </header>

    <section class="section-alt">
        <div class="model">
            <model-viewer src="/models/robot_model-opt.glb" camera-controls="true" camera-orbit="205deg 70deg 25m" loading="auto" powerpreference="low-power" exposure="0.50" shadow-softness="0.1" disable-tap="false" disable-pan="false" tone-mapping="neutral" shadow-intensity="4" alt="Model Loading Failed" ar-status="not-presenting" interaction-prompt="none">
            </model-viewer>
        </div>
    </section>

    <Fragment slot="scripts">
        <script src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>
    </Fragment>
</Base>