---
import Base from "../layouts/base.astro";


---

<Base 
    index="true"
    title="Sponsors"
    desc="Current sponsors and donation form for Bitflip Robotics"
>

    <Fragment slot="head">
        <style>
            body{
                background-color: #17171d;
            }
            iframe {
                position: relative;
            }

            @media only screen and (orientation: portrait) {

            }
        </style>

        <link rel="canonical" href="https://www.bitflip.club/sponsor/">

    </Fragment>
    <header>
        <div class="header-content">
            <h1>Sponsors</h1>
            </div>
    </header>

        <div class="section-content">
            <p>Become a sponsor today!</p>
        </div>

    <iframe src="https://hcb.hackclub.com/donations/start/bitflip-ftc-fundraiser" style="border:none;" name="donateFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" width="1000" height="1000" allow="payment" allowfullscreen id="hcbframe"></iframe>
    
    <script>
        //@ts-nocheck
        const frame = document.getElementById('hcbframe');
        
        let widthCoeff = () => {
            if(window.innerWidth > window.innerHeight) {
                return 0.75;
            } else {
                return 1;
            }
        }

        let height = () => {
            return 1500;
        };

        frame.width = `${window.innerWidth * widthCoeff()}px`;
        frame.height = `${height()}px`;
        window.onresize = function () {
            frame.width = `${window.innerWidth * widthCoeff()}px`;
            frame.height = `${height()}px`;
        }
    </script>

    <!-- <section class="section-default">
        <div class="section-content">
            <p></p>
        </div>
    </section>

    <section class="section-alt">
        <div id="sponsors">
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 1</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 2</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 3</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 4</div>
            </div>
        </div>
    </section> -->

</Base>