---
import Base from "../layouts/base.astro";


---

<Base 
    index="false"
    title="Sponsors"
>

    <Fragment slot="head">
        <style>
            iframe {
                /* height:auto;  */
                background:var(--alt-color);
                position: relative;
            }
        </style>
    </Fragment>
    <header>
        <div class="header-content">
            <h1>Sponsors</h1>
            </div>
    </header>

        <div class="section-content">
            <p>Become a sponsor today!</p>
        </div>

    <iframe src="https://hcb.hackclub.com/donations/start/bitflip-ftc-fundraiser" style="border:none;" name="donateFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" width="1000" height="1000" allow="payment" allowfullscreen id="hcbframe"></iframe>
    
    <script>
        const frame : HTMLIFrameElement = document.getElementById('hcbframe');

        frame.width = `${window.innerWidth * 0.75}`;
        frame.height = `1200px`;

        window.onresize = function () {
            frame.width = `${window.innerWidth * 0.75}`;
        }
    </script>

    <!-- <section class="section-default">
        <div class="section-content">
            <p></p>
        </div>
    </section>

    <section class="section-alt">
        <div id="sponsors">
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 1</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 2</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 3</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 4</div>
            </div>
        </div>
    </section> -->

</Base>