---
import Base from "../layouts/base.astro";
---

<Base 
    index="false"
    title="Sponsors"
>
    <header>
        <div class="header-content">
            <h1>Sponsors</h1>
            </div>
    </header>
    
    <section class="section-default">
        <div class="section-content">
            <p>We would like to thank our wonderful sponsors, without whom we could not do what we do.</p>
        </div>
    </section>

    <section class="section-alt">
        <div id="sponsors">
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 1</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 2</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 3</div>
            </div>
            <div class="card">
                <div class="photo"></div>
                <div class="name">sponsor 4</div>
            </div>
        </div>
    </section>

</Base>