---
---

<div class=dropdown>
    <button class=dropdown-btn>
      <div class="bar1" />
      <div class="bar2" />
      <div class="bar3" />
    </button>
</div>

<script>
    // @ts-nocheck
    function toggleDropdown () {
      if (dropdown.classList.contains("open")) {
        dropdown.classList.remove('open');
        content.classList.remove('open');
        console.log("close dropdown!");
      } else {
        dropdown.classList.add('open');
        content.classList.add('open');
        console.log("open dropdown!");
      }
    }

    const dropdown = document.getElementsByClassName("dropdown")[0];

    const button = document.getElementsByClassName("dropdown-btn")[0];

    const content = document.getElementsByClassName("dropdown-content")[0];
    button.onclick = function(event) {
        // Prevent click event from propagating to the window listener
        event.stopPropagation();
        toggleDropdown();
    };

    content.addEventListener("click", function(event) {
        event.stopPropagation();
    });

    window.addEventListener("click", function(event) {
        // If the click is not inside the dropdown itself (either button or content)
        if (!dropdown.contains(event.target)) {
            if (dropdown.classList.contains("open")) {
                toggleDropdown(); // Close it
            }
        }
    });

</script>

