---
import Toolbar from "../components/toolbar.astro";
import Footer from "../components/footer.astro";

import "../styles/globals.css";
import "../styles/style.css";
import "../styles/toolbar.css";
import "../styles/footer.css";

const { index = 1, title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title ? `${title} | Bitflip Robotics (30380)` : "Bitflip Robotics (30380)"}</title>
    {!index && <meta name="robots" content="noindex, nofollow"/>}
    <meta name="description" content="Bitflip Robotics - an FTC team.">
    <meta name="keywords" content="ftc, FIRST, First, robotics, bitflip, 30380, ftc 30380, Bitflip robotics, ftc team, charleston robotics, SC Robotics, bitflip ftc">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=close,menu&display=block" rel="stylesheet" />
    <style>
        
    </style>
    <slot name="head"></slot>
</head>
<body>
    <Toolbar></Toolbar>

    <main>
        <slot />
    </main>

    <Footer></Footer>   
</body>
</html>