:root {
    --toolbar-height: 3.75rem;
    --footer-height:2rem;
    --standard-color:#ff881e;
    --alt-color:#1c1c1c;

    --dark-color:#161616;

    --toolbar-color:var(--alt-color);
}

@font-face { font-family: JetbrainsMono; src: url('/fonts/JetBrainsMono-Medium.ttf'); }
