                                        /* --------------------- General Styling --------------------- */

html {
    /* font */
    font-size:20px;
}

body {
    /* font */
    font-family: "JetBrainsMono", "Courier New", monospace, sans-serif;
    color: white;
    text-align: center;

    /* color */
    background-color: var(--standard-color);

    /* self-sizing */
    min-height: 100vh;

    padding: 0;
    margin: 0;

    /* child-sizing */
    display:flex;
    flex-direction: column;
}

/* this is everything that's not header / footer */
.content {
    /* self-sizing */
    flex:1;
    margin-top: calc(var(--toolbar-height) + 3px);

    /* child-sizing */
    display: flex;
    flex-direction: column;
}


                                        /* ---------------------  Header --------------------- */

.header-image-container {
    /* child-sizing */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header-image {
    /* self-sizing */
    height: calc(100vh - var(--toolbar-height));
    width: calc(calc(100vh - var(--toolbar-height)) * 16 / 9);
    aspect-ratio: 16/9;
    position:fixed;
    z-index: -5;
}

.header-video-container {
    /* self-sizing */
    flex:1;
    height:calc(100vh - var(--toolbar-height));
    width:100%;
    
    /* child-sizing */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header-video {
    /* self-sizing */
    height:calc(100vh - var(--toolbar-height));
    width: 100%;
    aspect-ratio: 16/9;
    padding:0;
    margin: 0;
    position:fixed;
    z-index: -100;

    /* styling */    
    object-fit: cover;
}

.header-video-container::after {
    content: "";

    /* self-sizing */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;

    /* color */
    /* Dark tint effect */
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
}

.header-content {
    /* font */
    font-size: 1rem;

    /* self-sizing */
    position:relative;
    
    height:100%;
    width: 100%;
    
    margin:0;

    /* child-sizing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}



.full-height-header {
    /* self-sizing */
    height: calc(100vh - (var(--toolbar-height)));
    flex: 0 1 calc(100vh - (var(--toolbar-height)));
    
    /* child-sizing */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

                                        /* --------------------- Homepage Header --------------------- */
#main-header #big-logo {
    /* self-sizing */
    flex: 0 1;
    max-height: calc( 0.7 * (100% - (var(--toolbar-height))));
    max-width: 80%;
    aspect-ratio: 1250/1438; /* keep it consistently the right size */
    margin: 0;
}

#main-header h1 {
    /* self-sizing */
    bottom:0;
    margin-bottom:50px;
    position: absolute;
}
                                        /* --------------------- Section Styling --------------------- */

.circle, .circle-alt {
    /* self-sizing */
    flex: 0 0 150px;
    width: 150px;
    max-width: 30%;
    aspect-ratio: 1/1;

    /* styling */
    border-radius: 50%; /* Makes it a perfect circle */
}

.circle {
    /* color */
    background-color: var(--standard-color); /* Set the color */
}

.circle-alt {
    /* color */
    background-color: var(--alt-color);
}

section {
    /* self-sizing */
    padding: 5% 5%;
    
    /* child-sizing */
    display: flex;
    flex-direction:row;
    align-items:center; 
    justify-content: flex-start;
    gap: 10px;
    
    /* color */
    color:white;
}

.section-default {
    /* color */
    background-color: inherit;
}

.section-alt {
    /* color */
    background-color: var(--alt-color);
    
    /* font */
    color:var(--standard-color)
}

.section-content {
    /* self-sizing */
    flex: 1 0;
    padding: 0 5%;
    
    /* child-sizing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section h5 {
    /* font */
    font-size: 1.5rem;
    text-align: center;
    
    /* self-sizing */
    margin: 10px;
}

section p {
    /* font */
    font-size: 1.1rem;
    font-weight: light;
    text-align:left;
    line-height: 1.5;

    /* self-sizing */
    margin: 0 20px;
}

                                        /* --------------------- Section Styling --------------------- */

#members, #sponsors {
    /* self-sizing */
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    
    /* child-sizing */
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    
    /* styling */
    flex-wrap: wrap;
    perspective: 5000px;
    user-select: none;
}

.card {
    /* self-sizing */
    flex:0 1 230px;
    min-width: 1%;
    max-width:90%;
    padding: 15px;

    /* child-sizing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* font */
    text-align: center;
    
    /* color */
    background-color: #a85a00;

    /* styling */
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #7e4300;
    white-space: nowrap;

    /* animations */
    will-change:contents;
    transition: transform 0.2s ease;
}

.card:hover {
    /* self-sizing */
    transform: scale(1.08);

    /* styling */
    box-shadow: 0px 0px 10px 3px #7e4300;
}

.card .photo {
    /* self-sizing */
    flex:1;
    min-width: none;
    width: 100%;
    margin: 0 auto 15px auto;
    aspect-ratio: 1/1;

    /* color */
    background-color: var(--standard-color);

    /* styling */
    border-radius: 50%; /* Makes it a perfect circle */
}

.card .name {
    /* font */
    text-align:inherit;
    font-size: 1rem;
    color: white;
    
    /* self-sizing */
    width: 100%;
    margin-bottom: 5px;

    /* styling */
    flex-wrap: nowrap;
}

.card .roles {
    /* font */
    text-align:inherit;
    font-size: 0.8rem;
    color:lightgray;

    /* self-sizing */
    height:90px;
}

/* mobile devices */
@media only screen and (orientation: portrait){
    .circle, .circle-alt {
        display: none;
    }

    html {
        font-size: 16px;
    }
}