@font-face { font-family: JetbrainsMono; src: url('/fonts/JetBrainsMono-Medium.ttf'); }

@media only screen and (orientation: landscape){
    .circle, .circle-alt {
        display: none !important;
    }
}

:root {
    --toolbar-height: 75px;
    --footer-height:30px;
    --standard-color:#1c1c1c;
    --alt-color:#b46907;
    /* --alt-color:#d08407; */

    --toolbar-color:var(--alt-color);
}

/* header { */
    /* padding-top: 10%; */
/* } */

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    position:relative;

    height:100%;
    width: 100%;
    font-size: 100%;

    margin:25px 0;
}

#main-header {
    /* min-height: calc(100vh - var(--toolbar-height)); */
    /* height: calc(100vh - (var(--toolbar-height))); */
    
    /* background-color: rgb(255, 255, 255, 0.0001); */
    display: flex;
    /* -webkit-backdrop-filter: blur(10px); */
    /* backdrop-filter: blur(10px); */

    position: relative;
}

.full-height-header {
    height: calc(100vh - (var(--toolbar-height)));
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex: 0 1 calc(100vh - (var(--toolbar-height)));
}

/* .header-text { */
/* } */

body {
    font-family: "JetBrainsMono", "Courier New", monospace, sans-serif;
    background-color: var(--standard-color);
    color: white;
    text-align: center;
    margin: 0;
    
    padding-top: var(--toolbar-height);

    display:flex;
    flex-direction: column;
    min-height: calc(100vh - var(--toolbar-height));

    /* overflow:hidden; */
}

#big-logo {
    max-height: calc( 0.7 * (100vh - (var(--toolbar-height))));
    max-width: 100%;
    /* max-height:20%; */
    /* padding: 20px 0 0 0; */
    flex-shrink: 1;
    flex-grow: 0;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1250/1438;
    /* position:; */
}

.photo, .circle, .circle-alt {
    border-radius: 50%; /* Makes it a perfect circle */
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.circle, .circle-alt {
    width: 150px;  /*Set the width*/
    max-width: 30%;
}

.circle {
    background-color: var(--standard-color); /* Set the color */
}

.circle-alt {
    background-color: var(--alt-color);
}

.photo {
    width: 100%;
    min-width: none;
    background-color: var(--standard-color);
    margin: 0 auto 15px auto;
    flex:1;
}

.info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-grow: 1;
}

section {
    padding: 5% 5%;
    display: flex;
    color:white;
    align-items:center;
    gap: 10px;

    flex-direction:row;
    justify-content: flex-start;
}

.section {
    background-color: inherit;
    font-weight: light;
    
}

.section-alt {
    background-color: var(--alt-color);
    color:var(--standard-color)
}

.blur-section {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#toolbar {
    background-color: var(--toolbar-color);

    position:fixed;
    width: 100%;
    top:0;

    height: var(--toolbar-height);

    border-bottom: 3px solid var(--standard-color);

    display: flex;
    justify-content: left;
    align-items: center;

    z-index: 5;
}

#toolbar ul {
    height: var(--toolbar-height);

    padding:0;
    margin:0;
    display: flex;
    flex:1;

    align-items: center;

    width: 100%;
    position:sticky;
    top:0;
}

#toolbar ul li {
    /* border: 1px solid red; */

    flex-basis: auto;
    height: var(--toolbar-height);
    
    flex:0;
    display: flex;
    color:var(--standard-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;

    white-space: nowrap;

    align-items: center;
}

#toolbar ul li:hover {
    background-color: rgb(207, 111, 0);
    /* color:white; */
}

#logo {
    height: calc(var(--toolbar-height) * 0.9);
    color: white;
    padding: 0% 1em;


    vertical-align: middle
}

#toolbar ul li a {
    all:unset;
}

#toolbar ul li button {
    all:unset;
    background: none;
    border: none;

    height:var(--toolbar-height);
    align-items: center;
    padding:0% 1em;
    margin: 0;
}

.content {
    flex:1;
    display: flex;
    flex-direction: column;
}

section p {
    font-size: 20px;
    text-align:left;
    line-height: 1.5;
    margin: 0 20px 0 20px;
}

section h5 {
    font-size: 28px;
    /* color:hsl(32, 100%, 50%); */
    text-align: center;
    margin: 10px;
}

#members, #sponsors {
    display:flex;

    justify-content:center;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 0;
    gap: 20px;

    flex-wrap: wrap;
    width: 100%;

    perspective: 5000px;

    user-select: none;
}

.member {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    min-width: 1%;
    max-width:90%;

    flex:0 1 230px;
    background-color: #a85a00;

    border-radius: 20px;
    border: 2px solid white;
    padding: 15px;

    box-shadow: 0px 0px 10px 1px #7e4300;

    white-space: nowrap;
    will-change:contents;

    transition: transform 0.2s ease;
}

.member:hover {
    box-shadow: 0px 0px 10px 3px #7e4300;
    transform: scale(1.05);
}

.name {
    text-align: center;
    align-content: flex-end;

    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 5px;

    color: white;

    font-size: 20px;
    flex-wrap: nowrap;
}

.roles {
    text-align: center;
    color:lightgray;
    font-size: 16px;
    height:90px;

    /* white-space: nowrap; */
}

footer {
    background-color: var(--standard-color);
    padding: 50px 50px;

    /* width: 100%; */
    height: var(--footer-height);

    display:flex;
    justify-content: space-between;
    align-items: center;

    flex-direction:row;
}

footer .links a {
    all:unset;
    /* flex:1; */
    height: 100%;

    justify-items: center;
    align-items: center;

    cursor: pointer;

    padding:5px;
}

footer p {
    height: 100%;

    text-align: left;
}

.header-image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header-image {
    height: calc(100vh - var(--toolbar-height));
    aspect-ratio: 16/9;
    width: calc(calc(100vh - var(--toolbar-height)) * 16 / 9);
    position:fixed;

    z-index: -5;
}

video {
    margin: 0;
    /* margin-top: 20px; */
    padding:0;

    display:flex;
    position:fixed;
    z-index: -100;

    width: 100%;


    height:calc(100vh - var(--toolbar-height));
    aspect-ratio: 16/9;

    /* background-size: cover; */
    object-fit: cover;
    filter:blur(10px); 
}

.video-wrapper {
    flex:1;
    display: flex;
    width:100%;
    height:calc(100vh - var(--toolbar-height));
    align-items: flex-start;
    justify-content: center;
}