#toolbar {
    /* self-sizing */
    height: var(--toolbar-height);
    width: 100%;
    top:0;
    position:fixed;
    z-index: 5;

    /* child-sizing */
    display: flex;
    align-items: center;
    justify-content: left;
    
    /* color */
    background-color: var(--toolbar-color);
    
    /* styling */
    border-bottom: 3px solid var(--standard-color);
}

#toolbar nav {
    /* self-sizing */
    flex:1;
    width: 100%;
    padding:0;

    /* child-sizing */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */

    /* border:1px solid green; */
}

#toolbar ul {
    /* self-sizing */
    flex:0 1 auto;
    height: var(--toolbar-height);
    padding:0;
    margin:0 0 0 0px;

    /* child-sizing */
    display: flex;
    align-items: center;
    justify-content:flex-start;

    /* border:1px solid red; */
}
 
#toolbar ul li {


    /* self-sizing */
    flex:0;
    height: var(--toolbar-height);

    /* child-sizing */
    display: flex;
    align-items: center;

    /* font */
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    
    /* color */
    color:var(--standard-color);

    /* styling */
    white-space: nowrap;
    user-select: none;
}

#toolbar ul li #logo {
    /* self-sizing */
    height: calc(var(--toolbar-height) * 0.7);
    padding: 0;
    vertical-align: middle; /* this is its own inline item thing */  
}
                
#toolbar ul li a {
    all:unset;
}

#toolbar ul li button {
    all:unset;

    /* styling */
    background: none;
    border: none;
    display:block;

    /* self-sizing */
    height:var(--toolbar-height);
    padding:0% 1em;
    margin: 0;
}

#toolbar button:hover {
    /* color */
    background-color: rgb(19, 19, 19);
}   

.dropdown {
    position: relative;
    /* border:1px solid blue; */
    display:none;
    flex-direction: column;

    height: var(--toolbar-height);
    aspect-ratio: 1/1;
    width: auto;

    font-size:1.2rem;


    align-items: center;
    justify-content: center;

    margin: 0 0 0 auto;
    padding:0;
}

.dropdown-btn {
    all:unset;

    
    font-size: 1.2rem;
    color:var(--standard-color);
    flex:1;

    margin-right:10px;
    min-width: 100%;
    min-height: 100%;
    padding:0;
    margin:0;



    /* border:1px solid red; */


    cursor:pointer;
    user-select: none;
}

.dropdown-btn:hover {
    /* color */
    background-color: rgb(207, 111, 0);
}

.dropdown-content {
    flex:1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    /* align-items: center; */

    font-size: inherit;

    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: calc(var(--toolbar-height));
    right:0;
    background-color: var(--toolbar-color);

    transition: opacity 0.2s ease;
    border-left: 3px solid var(--standard-color);
    border-bottom: 3px solid var(--standard-color);
}

.dropdown-content a {
    all:unset;
    text-align: right;

    height:fit-content;
    display:flex;
    white-space: nowrap;

    padding:0;
    margin:0;

    /* border:1px solid green; */
}

.dropdown-content a button {
    all:unset;

    color:var(--standard-color);

    width: 100%;
    height: 100%;
    padding: 20px;

    cursor: pointer;


    border-top: 3px solid var(--standard-color);
}